.nav {
  padding: 20px;

  box-shadow: rgba(15, 16, 17, 0.827) 0px 10px 10px -10px;
}

.link {
  margin-right: 20px;
  padding: 5px;
  font-size: 23px;
  outline: none;
  text-decoration: none;
  transition: 400ms;
}

.link:hover {
  box-shadow: rgba(15, 16, 17, 0.827) 0px 10px 10px -10px;
}
